{% extends "base.html" %}

{% block content%}
    <h1>My Licenses</h1>
    <ul>
        {% for license in licenses %}
            <li>
                <strong>License ID:</strong> {{ license.licenseId }} |
                <strong>Book ID:</strong> {{ license.bookId }} |
                <strong>Owner ID:</strong> {{ license.ownerId }} |
                <strong> Purchase date:</strong> {{license.issueDate}} |
                <strong> License Status</strong> {{license.status}}
            </li>
        {% empty %}
            <li>You have no licenses.</li>
        {% endfor %}
    </ul>
{%endblock%}

