<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
</head>

<body>
    <h1>Profile</h1>
    {% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
        <h2>Your Books</h2>
        {% if licenses %}
        <ul>
            {% for license in licenses %}
            <li>
                {{ license.title }} (License ID: {{ license.licenseId }}) - Issued on {{ license.issueDate }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No books purchased yet.</p>
        {% endif %}
        <p><a href="{% url 'shop' %}">Back to Shop</a></p>
</body>

</html>